In [1]:
import numpy as np # 数据处理最重要的模块
import pandas as pd # 数据处理最重要的模块
import scipy.stats as stats # 统计模块
import scipy
# import pymysql  # 导入数据库模块

from datetime import datetime # 时间模块
import statsmodels.formula.api as smf  # OLS regression

# import pyreadr # read RDS file

from matplotlib import style
import matplotlib.pyplot as plt  # 画图模块
import matplotlib.dates as mdates

from matplotlib.font_manager import FontProperties # 作图中文
from pylab import mpl
#mpl.rcParams['font.sans-serif'] = ['SimHei']
#plt.rcParams['font.family'] = 'Times New Roman'

#输出矢量图 渲染矢量图
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

from IPython.core.interactiveshell import InteractiveShell # jupyter运行输出的模块
#显示每一个运行结果
InteractiveShell.ast_node_interactivity = 'all'

#设置行不限制数量
#pd.set_option('display.max_rows',None)

#设置列不限制数量
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('datasets/000001.csv')
data['Day'] = pd.to_datetime(data['Day'],format='%Y/%m/%d')
data.set_index('Day', inplace = True)
data.sort_values(by = ['Day'],axis=0, ascending=True)

            Preclose      Open   Highest    Lowest     Close
Day
1990-12-19              96.050    99.980    95.790    99.980
1990-12-20     99.98   104.300   104.390    99.980   104.390
1990-12-21    104.39   109.070   109.130   103.730   109.130
1990-12-24    109.13   113.570   114.550   109.130   114.550
1990-12-25    114.55   120.090   120.250   114.550   120.250
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 5 columns]

In [4]:
data_new = data['1995-01':'2024-09'].copy()# 筛选1995-01-01至2024-09-30的数据
data_new['Close'] = pd.to_numeric(data_new['Close'])# 转换为数值型
data_new['Preclose'] = pd.to_numeric(data_new['Preclose'])# 转换为数值型
data_new['Raw_return'] = data_new['Close'] / data_new['Preclose'] - 1   #计算收益率
data_new

            Preclose      Open   Highest    Lowest     Close  Raw_return
Day
1995-01-03   647.870   637.720   647.710   630.530   639.880   -0.012333
1995-01-04   639.880   641.900   655.510   638.860   653.810    0.021770
1995-01-05   653.810   655.380   657.520   645.810   646.890   -0.010584
1995-01-06   646.890   642.750   643.890   636.330   640.760   -0.009476
1995-01-09   640.760   637.520   637.550   625.040   626.000   -0.023035
...              ...       ...       ...       ...       ...         ...
2024-09-24  2748.918  2770.754  2863.152  2761.372  2863.126    0.041547
2024-09-25  2863.126  2901.419  2952.451  2889.048  2896.306    0.011589
2024-09-26  2896.306  2893.745  3000.953  2889.014  3000.953    0.036131
2024-09-27  3000.953  3049.103  3087.529  3017.445  3087.529    0.028850
2024-09-30  3087.529  3194.722  3358.588  3153.697  3336.497    0.080637

[7223 rows x 6 columns]

In [5]:
Month_data = data_new.resample('ME')['Raw_return'].apply(lambda x: (1+x).prod() - 1).to_frame()
Month_data.reset_index(inplace = True)
Month_data.rename(columns = {'Day':'month'}, inplace = True)
Month_data.set_index('month', inplace = True)
Month_data

            Raw_return
month
1995-01-31   -0.131631
1995-02-28   -0.023694
1995-03-31    0.177803
1995-04-30   -0.103552
1995-05-31    0.207922
...                ...
2024-05-31   -0.005801
2024-06-30   -0.038684
2024-07-31   -0.009656
2024-08-31   -0.032849
2024-09-30    0.173908

[357 rows x 1 columns]

计算季度收益率

In [ ]:
Quarter_data = data_new.resample('QE')['Raw_return'].apply(lambda x: (1+x).prod() - 1).to_frame()# 计算季度收益率
Quarter_data.reset_index(inplace = True)# 重置索引
Quarter_data.rename(columns = {'Day':'Q'}, inplace = True)# 重命名列
Quarter_data.set_index('Q', inplace = True)# 设置索引
Quarter_data

            Raw_return
Q
1995-03-31   -0.001466
1995-06-30   -0.025258
1995-09-30    0.145660
1995-12-31   -0.231358
1996-03-31    0.001981
...                ...
2023-09-30   -0.028603
2023-12-31   -0.043575
2024-03-31    0.022263
2024-06-30   -0.024255
2024-09-30    0.124383

[119 rows x 1 columns]

计算季度收益率:

In [7]:
Year_data = data_new.resample('YE')['Raw_return'].apply(lambda x: (1+x).prod() - 1).to_frame()# 计算年度收益率
Year_data.reset_index(inplace = True)# 重置索引
Year_data.rename(columns = {'Day':'Year'}, inplace = True)# 重命名列
Year_data.set_index('Year', inplace = True)# 设置索引
Year_data

            Raw_return
Year
1995-12-31   -0.142899
1996-12-31    0.651425
1997-12-31    0.302153
1998-12-31   -0.039695
1999-12-31    0.191750
2000-12-31    0.517277
2001-12-31   -0.206180
2002-12-31   -0.175167
2003-12-31    0.102670
2004-12-31   -0.153997
2005-12-31   -0.083253
2006-12-31    1.304334
2007-12-31    0.966593
2008-12-31   -0.653941
2009-12-31    0.799825
2010-12-31   -0.143131
2011-12-31   -0.216753
2012-12-31    0.031695
2013-12-31   -0.067493
2014-12-31    0.528691
2015-12-31    0.094136
2016-12-31   -0.123062
2017-12-31    0.065578
2018-12-31   -0.245911
2019-12-31    0.223032
2020-12-31    0.138667
2021-12-31    0.048001
2022-12-31   -0.151250
2023-12-31   -0.037007
2024-12-31    0.121536